<h1>Idea Box</h1>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-3">
       <label for="idea-title">Title</label>
       <input class="form-control" type="text" id="idea-title"><br />
     </div>
     <div class="col-md-8">
       <label for="idea-body">Body</label>
       <input class="form-control" type="text" id="idea-body"><br />
     </div>
     <div class="col-md-1">
       <input type="submit" value="Save" class="btn btn-primary-outline idea-submit shift-down" id="create-idea">
     </div>
   </div>
 </div>

<div id="ideas">
</div>
